@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('./themes.css');

::selection{
  color:var(--text-primary-clr);
  background: var(--tertiary-clr);
}
.container {
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.signupImg img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.signinContainer{
  width: 330px;
  background: var(--text-inverted-clr);
  text-align: center;
  border-radius: 5px;
  padding: 50px 35px 10px 35px;
}
.siginContainer header{
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.signinContainer .formOuter form{
  display: flex;
  width: 400%;
}
.formOuter form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.formOuter form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  color: var(--primary-clr);
}
.formOuter form .page .field{
  width: 100%;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .page .field .label{
  position: absolute;
  top: -30px;
  font-weight: 500;
  color: var(--primary-clr);
}
form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}

form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: var(--secondary-clr);
  margin-top: -20px;
  border-radius: 5px;
  color: var(--text-inverted-clr);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page button:hover{
  background: var(--primary-clr);
  color: var(--text-inverted-clr);
}


.signinContainer header{
  color: var(--primary-clr);
  font-size: 24px;
}


.signinContainer .signLink a{
  text-decoration: none;
  font-size: 16px;
  color: var(--primary-clr);
}
.signinContainer .signLink span{
    text-decoration: none;
    font-size: 16px;
    color: var(--secondary-clr);
  }

/* Tablet Styles (max-width: 768px) */
@media (min-width: 768px) {
  .signinImg{
    display: inline-block;
    width: 300px;
    height: 512px;
    margin: 10px;
    padding:30px 20px;
    background: url("/public/images/signin-img.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .signinImg h2, .signinImg p{
    color: var(--text-inverted-clr);
  }

}
/* Desktop Styles (min-width: 1024px) */
@media (min-width: 1024px) {
    .container{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
  .signinImg, .signupImg{
    display: inline-block;
    width: 400px;
    height: 500px;
    margin: 10px;
  }

}.signinContainer .signLink span:hover{
  text-decoration: underline;

}
