@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('themes.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.content{
margin-top: 20px;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background-color:var(--canvas-inverted-clr);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar .details{
  align-items: center;
  position: relative;
}
.sidebar .details h2{
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.5s ease;
}
.sidebar .details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .details #btn{
  text-align: right;
}
.sidebar i{
  color: white;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .navList{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--canvas-inverted-clr);
  color:var(--text-inverted-clr);
}
.sidebar li a:hover{
  background: var(--canvas-clr);
  color: var(--text-primary-clr);
}
.sidebar li a:hover i{
    color: var(--text-primary-clr);
  }
.sidebar li a span{
  display: none;
  }
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

/* Tablet Styles (max-width: 768px) */
@media (min-width: 768px) {
    .sidebar li a span{
        display: block;
        }
        
        .sidebar{
      width: 200px;
          }
  
  }
